.navbar{
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: space-between;
}
.navbar img{
margin-left: 32px;
margin-top: 16px;
}
.ul{
    display: flex;
    list-style-type: none;
}

.ul li{
    margin: 32px;
}
